@tailwind base;
@tailwind components;
@tailwind utilities;

.font-stencil {
  font-family: "Impact", "Arial Black", sans-serif;
  -webkit-text-stroke: 2px black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
